build/*
dist/*
src/sdks/core/build/*
src/sdks/core/dist/*
src/sdks/core/test/transpiled-suite/*
src/sdks/provider/build/*
src/sdks/provider/dist/*
src/sdks/provider/test/transpiled-suite/*
src/sdks/manage/build/*
src/sdks/manage/dist/*
src/sdks/manage/test/transpiled-suite/*
node_modules/*
test/transpiled-suite/*
.DS_Store
