.github/*
.husky/*
.DS_Store
*.config.js*
.releaserc
.commitlintrc.json
src/descriptions/*
src/js/*
src/openrpc/*
src/schemas/*
src/template/*
src/sdks/*/build/*
src/sdks/*/src/*
src/sdks/*/test/*
src/sdks/*/jest.config.json
src/sdks/*/sdk.config.json
src/sdks/*/tsconfig.json
src/sdks/*/.*
test/*
push-docs.sh
