{
  "branches": [
    {
      "name": "main",
      "prerelease": false
    },
    {
      "name": "next",
      "channel": "next",
      "prerelease": true
    },
    {
      "name": "one-repository",
      "channel": "test",
      "prerelease": true
    }
  ],
  "dryRun": false,
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "production-changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "tarballDir": "./"
      }
    ],
    [
      "@semantic-release/git"
    ],
    [
      "@semantic-release/github",
      {
        "assets": "./*.tgz"
      }
    ]
  ]
}
