{
  "branches": [
    "main",
    {
      "name": "next",
      "prerelease": true
    },
    {
      "name": "next-major",
      "prerelease": true
    }
  ],
  "dryRun": false,
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/github"
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "dist/**",
          "package.json",
          "package-lock.json",
          "CHANGELOG.md",
          "CONTRIBUTING.md",
          "LICENSE",
          "NOTICE",
          "COPYING"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
