{
  "branches": [
    "main",
    {
      "name": "next",
      "prerelease": true
    },
    "refactor/one-repository",
    {
      "name": "test",
      "prerelease": true
    }
  ],
  "dryRun": false,
  "plugins": [
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "tarballDir": "./"
      }
    ]
  ]
}
