name: CI (c++)  Build and Test

on:
  push:
    branches: [ main, next ]
  pull_request:
    branches: [ main, next ]

defaults:
  run:
    shell: bash

env:
  HUSKY: 0
  MOCK_PATH: ${{ github.workspace }}/mock-firebolt
  MOCK_SHA1SUM: cf0c4b35b5f3997bd9e6f82a18d57eafa0c62192
  MOCK_PATCH: ${{ github.workspace }}/.github/mock-firebolt/events.patch

jobs:
  build_docker:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.meta.outputs.tags }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Get Transport Version for Build-Arg
        id: transport_version
        run: echo "version=$(cat ${{ github.workspace }}/src/cpp/.transport.version)" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/firebolt-client-ci
          tags: type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: .github/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args:
            DEPS_TRANSPORT_V=${{ steps.transport_version.outputs.version }}
          cache-from: type=gha,scope=${{ github.workflow }}
          cache-to: type=gha,mode=max,scope=${{ github.workflow }}

  format_check:
    permissions:
      contents: read
      packages: read
    needs: [build_docker]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run clang-format check
        run: |
          docker run --rm -v ${{ github.workspace }}:/workspace ${{ needs.build_docker.outputs.image_tag }} \
            bash -c "cd ./src/cpp && git ls-files -- '*.cpp' '*.h' | xargs clang-format --dry-run --Werror"

  build_project:
    permissions:
      contents: read
      packages: read
    needs: [build_docker]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Mock-Firebolt
        id: setup-mock
        uses: ./.github/actions/setup-mock

      - name: Restore Mock-Firebolt Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.MOCK_PATH }}
          key: ${{ runner.os }}-mock-${{ steps.setup-mock.outputs.deps_cache_key }}

      - name: Get version
        run: |
          VERSION=$(git describe --tags --dirty --match "v[0-9]*")
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "version-native: $VERSION"

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure Project
        run: |
          docker run --rm --user "$(id -u):$(id -g)" -v ${{ github.workspace }}:/workspace ${{ needs.build_docker.outputs.image_tag }} \
            bash -c " \
              cmake -B build -S src/cpp \
                -DCMAKE_BUILD_TYPE=Debug \
                -DENABLE_TESTS=ON \
            "

      - name: Build Project
        run: |
          docker run --rm --user "$(id -u):$(id -g)" -v ${{ github.workspace }}:/workspace ${{ needs.build_docker.outputs.image_tag }} \
            bash -c "cmake --build build"

      - name: Run Unit Tests
        run: |
          cp ${{ github.workspace }}/src/cpp/firebolt-open-rpc.json build/test/
          docker run --rm --user "$(id -u):$(id -g)" -v ${{ github.workspace }}:/workspace ${{ needs.build_docker.outputs.image_tag }} \
            bash -c "ctest --test-dir build/test"

      - name: Run Component Tests
        run: |
          cp ${{ github.workspace }}/src/cpp/firebolt-open-rpc.json build/test/
          docker run --rm --user "$(id -u):$(id -g)" -v ${{ github.workspace }}:/workspace -v ${{ env.MOCK_PATH }}:/mock ${{ needs.build_docker.outputs.image_tag }} \
            ./.github/scripts/run-component-tests.sh \
              --mock /mock \
              --config /workspace/.github/mock-firebolt/config.json \
              --openrpc /workspace/src/cpp/firebolt-open-rpc.json \
              --app-openrpc /workspace/.github/openrpc/firebolt-app-open-rpc.json \
              --test-exe /workspace/build/test/FireboltClientComponentTests

      - name: Make Release package of Native SDK
        run: |
          ./.github/scripts/mk-release-package.sh \
            --version ${{ env.VERSION }} \
            --package firebolt-apis-native \
            --subpath ./src/cpp \
            --dst ${{ github.workspace }}/release

      - name: Make Release package of Native Demo
        run: |
          ./.github/scripts/mk-release-package.sh \
            --version ${{ env.VERSION }} \
            --package firebolt-apis-native-demo \
            --subpath ./src/cpp/demo \
            --dst ${{ github.workspace }}/release

      - name: Upload native packages as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: release
          path: ${{ github.workspace }}/release