name: CXX build
on:
  repository_dispatch:
    types: [trigger-workflow]
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'
      - 'next'
    types:
      - opened
      - synchronize

env:
  HUSKY: 0
jobs:
  thunder:
    name: Build Thunder Libraries
    runs-on: ubuntu-latest
    container:
      image: kevinshahfws/node-c:3.0
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Clone and Install Thunder
        id: install_thunder
        run: |
          .github/workflows/utils.sh cloneAndInstallThunder
      
      - name: Upload the library artifact
        uses: actions/upload-artifact@v3
        with:
          name: thunder
          path: /__w/firebolt-apis/install/

  openrpc:
    name: Build Openrpc Artifacts
    runs-on: ubuntu-latest
    container:
      image: kevinshahfws/node-c:3.0
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repo-token: ${{ secrets.SEMANTIC_RELEASE_BOT_PAT }}
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
      - name: Set up NPM token
        env:
          NPM_TOKEN: ${{ secrets.SEMANTIC_RELEASE_NPM_TOKEN  }}
        run: 'echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc'

      - name: Cache npm dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('package-lock.json') }}

      - name: Install dev dependencies
        run: npm install

      - name: Install dependencies
        run: npm ci

      - name: Set file permissions
        run: |
          chmod -R 755 ./
          chown -R $(id -u):$(id -g) ./

      - name: Build Artifacts
        run: |
          npm run dist

      - name: Upload Core SDK
        uses: actions/upload-artifact@v3
        with:
          name: core
          path: src/sdks/core

      - name: Upload Manage SDK
        uses: actions/upload-artifact@v3
        with:
          name: manage
          path: src/sdks/manage

      - name: Upload Discovery SDK
        uses: actions/upload-artifact@v3
        with:
          name: discovery
          path: src/sdks/discovery        

  core_sdk:
    name: Build Core SDK
    needs: [thunder, openrpc]
    runs-on: ubuntu-latest
    container:
      image: kevinshahfws/node-c:3.0
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download Core SDK
        uses: actions/download-artifact@v3
        with:
          name: core
          path: /__w/firebolt-apis/firebolt-apis/src/sdks/core


      - name: Download Thunder 
        uses: actions/download-artifact@v3
        with: 
          name: thunder
          path: /__w/thunder/install/

      - name: Cache npm dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('package-lock.json') }}

      - name: Install dev dependencies
        run: npm install

      - name: Install npm dependencies
        run: npm ci

      - name: Generate core SDK source code
        run: |
          .github/workflows/utils.sh generate_cpp_core_sdk_source_code

      - name: Build CXX Core SDK 
        run: |
          .github/workflows/utils.sh build_core_cpp_sdk

  manage_sdk:
    name: Build Manage SDK
    needs: [thunder, openrpc]
    runs-on: ubuntu-latest
    container:
      image: kevinshahfws/node-c:3.0
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download Manage SDK 
        uses: actions/download-artifact@v3
        with:
          name: manage
          path: /__w/firebolt-apis/firebolt-apis/src/sdks/manage

      - name: Download Thunder 
        uses: actions/download-artifact@v3
        with: 
          name: thunder
          path: /__w/thunder/install/

      - name: Cache npm dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('package-lock.json') }}

      - name: Install dev dependencies
        run: npm install

      - name: Install npm dependencies
        run: npm ci

      - name: Generate manage SDK source code
        run: |
          .github/workflows/utils.sh generate_cpp_manage_sdk_source_code

      - name: Build CXX manage SDK 
        run: |
          .github/workflows/utils.sh build_manage_cpp_sdk

  dicovery_sdk:
    name: Build Discovery SDK
    needs: [thunder, openrpc]
    runs-on: ubuntu-latest
    container:
      image: kevinshahfws/node-c:3.0
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download Discovery SDK
        uses: actions/download-artifact@v3
        with:
          name: discovery
          path: /__w/firebolt-apis/firebolt-apis/src/sdks/discovery

      - name: Download Thunder 
        uses: actions/download-artifact@v3
        with: 
          name: thunder
          path: /__w/thunder/install/

      - name: Cache npm dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('package-lock.json') }}

      - name: Install dev dependencies
        run: npm install

      - name: Install npm dependencies
        run: npm ci

      - name: Generate discovery SDK source code
        run: |
          .github/workflows/utils.sh generate_cpp_discovery_sdk_source_code

      - name: Build CXX Discovery SDK 
        run: |
          .github/workflows/utils.sh build_discovery_cpp_sdk
