permissions:
  contents: read

name: CXX build
on:
  repository_dispatch:
    types: [trigger-workflow]
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'
      - 'next'
    types:
      - opened
      - synchronize

defaults:
  run:
    shell: bash

env:
  HUSKY: 0
  SYSROOT_PATH: ${{ github.workspace }}/deps_install
  DEPS_FILE: ./src/cpp/.deps
  MOCK_PATH: ${{ github.workspace }}/mock-firebolt
  MOCK_SHA1SUM: cf0c4b35b5f3997bd9e6f82a18d57eafa0c62192
  MOCK_PATCH: ${{ github.workspace }}/.github/mock-firebolt/events.patch

jobs:
  setup_deps:
    runs-on: ubuntu-latest
    outputs:
      deps_cache_key: ${{ steps.setup-deps.outputs.deps_cache_key }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup CXX Dependencies
        id: setup-deps
        uses: ./.github/actions/setup-cxx-deps

  setup_mock:
    runs-on: ubuntu-latest
    outputs:
      deps_cache_key: ${{ steps.setup-mock.outputs.deps_cache_key }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Mock-Firebolt
        id: setup-mock
        uses: ./.github/actions/setup-mock

  build_project:
    needs: [setup_deps, setup_mock]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Restore Dependency Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.SYSROOT_PATH }}
          key: ${{ runner.os }}-deps-${{ needs.setup_deps.outputs.deps_cache_key }}

      - name: Restore Mock-Firebolt Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.MOCK_PATH }}
          key: ${{ runner.os }}-mock-${{ needs.setup_mock.outputs.deps_cache_key }}

      - name: Get version
        run: |
          git config --global --add safe.directory '*'
          VERSION=$(git describe --tags --dirty --match "v[0-9]*")
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "version-native: $VERSION"

      - name: Install apt dependencies
        uses: ./.github/actions/setup-apt-deps

      - name: Configure CMake
        run: |
          cmake -B build -S src/cpp \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX:PATH=${{ env.SYSROOT_PATH }}/usr \
            -DENABLE_TESTS=ON -DDISCOVER_UT=ON -DDISCOVER_CT=OFF

      - name: Build Project
        run: cmake --build build

      - name: Run Component Tests
        run: |
          cp src/cpp/firebolt-core-open-rpc.json build/test/
          ./.github/scripts/run-component-tests.sh \
            --mock ${{ env.MOCK_PATH }} \
            --config ${{ github.workspace }}/.github/mock-firebolt/config.json \
            --openrpc ${{ github.workspace }}/.github/mock-firebolt/firebolt-open-rpc.json \
            --app-openrpc ${{ github.workspace }}/src/cpp/firebolt-core-open-rpc.json \
            --test-exe ${{ github.workspace }}/build/test/FireboltCoreComponentTests

      - name: Run Unit Tests
        run: |
          cp src/cpp/firebolt-core-open-rpc.json build/test/
          ctest --test-dir build/test

      - name: Make Release package of Native SDK
        run: |
          ./.github/scripts/mk-release-package.sh \
            --version ${{ env.VERSION }} \
            --package firebolt-apis-native \
            --subpath ./src/cpp \
            --dst ${{ github.workspace }}/release

      - name: Make Release package of Native Demo
        run: |
          cp src/cpp/firebolt-core-open-rpc.json build/test/
          ./.github/scripts/mk-release-package.sh \
            --version ${{ env.VERSION }} \
            --package firebolt-apis-native-demo \
            --subpath ./src/cpp/demo \
            --dst ${{ github.workspace }}/release

      - name: Upload native packages as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: release
          path: ${{ github.workspace }}/release
