name: Release to GitHub
on:
  workflow_dispatch:
env:
  HUSKY: 0
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
      - name: Install dependencies
        run: npm ci
      - name: Setup project
        run: npm run fs:setup
      - name: Validate each OpenRPC spec
        run: npm run validate:each
      - name: Build fully assembled OpenRPC spec
        run: npm run build:openrpc
      - name: Validate fully assembled OpenRPC spec
        run: npm run validate:assembled
      - name: Build JavaScript SDK
        run: |
          npm run build:sdk
          npm run dist:sdk
      - name: Generate TypeScript declarations
        run: npm run dist:declarations
      - name: Run JavaScript SDK unit tests
        run: npm run test
      - name: Build markdown docs
        run: |
          npm run build:docs
          npm run dist:docs
      - name: Release to GitHub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
