name: MFOS standalone sanity report - CORE

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches: [ next ]

jobs:
  RunStandaloneTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      #Run tests
      - name: Run Core Manage and Discovery tests and create assets
        env:
          EVENT_NAME: ${{ github.event_name }}
          GITHUB_REF: ${{ github.ref }}
          PR_HEAD_REF: ${{ github.event.pull_request.head.ref }}
          INTENT: ${{ vars.INTENT }}
        run: |
          ./.github/workflows/utils.sh runTests 

      - name: Upload report.json as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: ${{ github.workspace }}/report

      - name: Get results from report.json
        run: |
          ./.github/workflows/utils.sh getResults


   